%h3 Listing products
%p#notice= notice
%p#error= flash[:error]
%table.table.table-hover
  %tr
    %th.col-sm-4 Title
    %th.col-sm-5 Description
    %th.col-sm-1 Price
    %th
    %th

  - products.each do |product|
    %tr
      %td= link_to product.title, category_product_path(product.category, product)
      %td= product.description
      %td= product.price
      %td= link_to 'Edit', edit_category_product_path(product.category, product) if current_user && product.user &&current_user.email == product.user.email
      %td= link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' } if current_user

%br
